<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<title>CustomerSearchPurchase</title>
</head>
<body>
	<div class='top-nav'>
		<nav>
			<div style="text-align: right;">
				<a href="/logout">LOGOUT</a>
			</div>
		</nav>
	</div>
	<hr>

	<!-- Side navigation -->
	<div style="text-align:center;"class="sidenav">
		<h1>Hello! Dear {{emailname}}</h1>
		<a href="/customerhome">My Flights</a>
		<a href="/customersearchpurchase" style="color: #2db2ff;">Search & Purchase Tickets</a>
		<a href="/customerspending">My Spending</a>
	</div>
	
	<!-- Page content -->
	<div class="main">
        <div style="text-align: center;">
            <h2>Search for flight</h2>
                <form action="/customersearchflight" method="POST">
                    <label>Departure City:</label>
                    <input type="text" name = "departure_city" placeholder="departure_city"/> </br>
                    <label>Departure Airport:</label>
                    <input type="text" name = "departure_airport" placeholder="departure_airport" /></br>
                    <label>Departure Date:</label>
                    <input type="date" name = "departure_date" placeholder="departure_date" onfocus="(this.type='date')"  onblur="(this.type='text')" /> </br>
                    <label>Arrival City:</label>
                    <input type="text" name = "arrival_city" placeholder="arrival_city" /> </br>
                    <label>Arrival Airport:</label>
                    <input type="text" name = "arrival_airport" placeholder="arrival_airport" /></br>
                    <label>Arrival Date:</label>
                    <input type="date" name = "arrival_date" placeholder="arrival_date" onfocus="(this.type='date')"  onblur="(this.type='text')" /> </br>
                    <button type="submit" class="btn btn-primary">Search</button>
                    {% if error1 %}
                    <p class="text-danger"><strong>No Result:</strong> {{error1}}</p>
                    {% endif %}
                </form>

                {% if flights %}
                </br>
                <table class="table table-bordered table-sm">
                    <thead>
                        <th>airline name</th>
						<th>flight num</th>
						<th>airplane id</th>
						<th>departure city&airport</th>
						<th>departure time</th>
                        <th>arrival city&airport</th>
                        <th>arrival time</th>
                        <th>price</th>
						<th>status</th>
                    </thead>

                    <tbody>
                    {% for line in flights %}
                        <tr>
                            <td>{{line[0]}}</td>
							<td>{{line[2]}}</td>
							<td>{{line[1]}}</td>
							<td>{{line[3]}} {{line[4]}}</td>
							<td>{{line[7]}}</td>
                            <td>{{line[5]}} {{line[6]}}</td>
                            <td>{{line[8]}}</td>
                            <td>{{line[9]}}</td>
							<td>{{line[10]}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
            <hr>

            <div style="text-align: center;">
				<h2>Purchase tickets</h2>
				<form action="/customertickets" method="POST">	
					<label for="airline_name">Airline Name:</label>
					<select name="airline_name" required>
						<option value="" disabled>--please search first--</option>
						{% if flights%}
						{% for line in flights %}
						<option value="{{line[0]}}">{{line[0]}}</option>
						{% endfor %}
						{% endif %}
					</select>		

					<label for="flight_num">Flight Number:</label>
					<select name="flight_num" required>
						<option value="" disabled>--please search first--</option>
						{% if flights%}
						{% for line in flights %}
						<option value="{{line[2]}}">{{line[2]}}</option>
						{% endfor %}
						{% endif %}
					</select>

					<button type="submit" class="btn btn-primary">Buy</button>
                    
                    {% if error2 %}
                    <p class="text-danger"><strong>Sorry:</strong> {{error2}}</p>
					{% endif %}
					{% if message1 %}
                    <p class="text-success">{{message1}}</p>
                	{% endif %}
                </form>
            </div>
        </div>
	</div>
</body>
</html>
