<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>StaffDestination</title>
</head>

<body>
    <div class='top-nav'>
        <nav>
            <div style="text-align: right;">
                <a href="/logout">LOGOUT</a>
            </div>
        </nav>
    </div>
    <hr>
    
    <div style="text-align: center;" class='side-nav'>
        <h1>Welcome {{username}}</h1>
        <a href="/staffhome">Upcoming Flights</a>
        <a href="/staffflight">Search & Change Flight</a>
        <a href="/staffadd">Create Flight & Airplane & Airport</a>
        <a href="/staffagent">View Booking Agents</a>
        <a href="/staffcustomer">View Customers</a>
        <a href="/staffDest" style="color: #2db2ff;">View Top Destination</a>
        <a href="/staffReve">View Revenue Earned</a>
        <a href="/staffTickets">View Tickets Sold</a>
    </div>

    <div style="text-align: center;"class="main">
        <h2>View Top 3 Destination</h2>
            <h3 style="text-align: center;">Top 3 Most Popular Destination Last 3 months</h3>
            <table class="table table-bordered table-sm">
                <th>city</th>
                <th>tickets</th>
            {% for line in monthly %}		
                <tr>
                    <td>{{line[0]}}</td>
                    <td>{{line[1]}}</td>
                </tr>
            {% endfor %}
            </table>

            <h3 style="text-align: center;">Top 3 Most Popular Destination Last Year</h3>
            <table class="table table-bordered table-sm">
                <th>city</th>
                <th>tickets</th>

            {% for line in yearly %}		
                <tr>
                    <td>{{line[0]}}</td>
                    <td>{{line[1]}}</td>
                </tr>
            {% endfor %}
            </table>
        
        </div>
<!-- <a href="/staffhome">Go back</a> -->
</body>
</html>