<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
    <title>AddInfo</title>
</head>

<body>
    <div class='top-nav'>
        <nav>
            <div style="text-align: right;">
                <a href="/logout">LOGOUT</a>
            </div>
        </nav>
    </div>
    <hr>
    
    <div style="text-align: center;" class="sidenav">
        <h1>Welcome {{username}}</h1>
        <a href="/staffhome">Upcoming Flights</a>
        <a href="/staffflight">Search & Change Flight</a>
        <a href="/staffadd" style="color: #2db2ff;">Create Flight & Airplane & Airport</a>
        <a href="/staffagent">View Booking Agents</a>
        <a href="/staffcustomer">View Customers</a>
        <a href="/staffDest">View Top Destination</a>
        <a href="/staffReve">View Revenue Earned</a>
        <a href="/staffTickets">View Tickets Sold</a>
    </div>

    <div style="text-align: center;"class="main">
        {% if name %}
            </br>
            <h2>Create Flight & Airplane & Airport for <strong style="color: #028ada; text-align:center;">{{name[0][1]}}</strong></h2>
        {% else %}
            <h2>Create Flight & Airplane & Airport</h2>
        {% endif %}

        
        <div style="text-align: center;">
            <h3>Create Flight</h3>
            <form action="/staffaddflight" method="POST">
                <!-- <label>Airline Name:</label> -->
                <!-- <input type="text" name = "airline_name" placeholder="airline_name" maxlength="50" required/> </br> -->
                <!-- <input type="text" name = "flight_num" placeholder="flight_num" required/> </br> -->
                <label>Flight Number:</label>
                <input name="flight_num" 
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
                        type = "number" placeholder="flight_num" 
                        maxlength = "9" 
                        required/></br>
                <label>Departure Airport:</label>
                <input type="text" name = "departure_airport" placeholder="departure_airport" maxlength="50" required/> </br>
                <label>Departure Time:</label>
                <input type="date" name = "departure_date" placeholder="departure_date" onfocus="(this.type='date')"  onblur="(this.type='text')" required/>
                <input type="time" name = "departure_time" placeholder="departure_time" required/> </br>
                <label>Arrival Airport:</label>
                <input type="text" name = "arrival_airport" placeholder="arrival_airport" maxlength="50" required/> </br>
                <label>Arrival Time:</label>
                <input type="date" name = "arrival_date" placeholder="arrival_date" onfocus="(this.type='date')"  onblur="(this.type='text')" required/>
                <input type="time" name = "arrival_time" placeholder="arrival_time" required/> </br>
                <!-- <input type="text" name = "price" placeholder="price" required/> </br> -->
                <label>Number of Tickets:</label>
                <input name="number" 
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
                        type = "number" placeholder="number" 
                        maxlength = "10" 
                        required/></br>

                <label>Price:</label>
                <input name="price" 
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
                        type = "number" placeholder="price" 
                        maxlength = "10" 
                        required/></br>
                <!-- <input type="text" name = "status" placeholder="status" required/> </br> -->
                <label for="status">Status:</label>
                <select name="status" required>
                    <option value="Upcoming">Upcoming</option>
                    <option value="Delayed">Delayed</option>
                    <option value="In-progress">In-progress</option>
                </select></br>
                <!-- <input type="text" name = "airplane_id" placeholder="airplane_id" required/> </br> -->
                <label>Airplane ID:</label>
                <!-- <input name="airplane_id" 
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
                    type = "number" placeholder="airplane_id" 
                    maxlength = "9" 
                    required/></br>     -->
                <select name="airplane_id" required>
                    {% if airplane%}
                    {% for line in airplane %}
                    <option value="{{line[0]}}">{{line[0]}}</option>
                    {% endfor %}
                    {% endif %}
                </select>
                </br>
                <input type="submit" class="btn btn-primary" value = 'Create Flight' />
                {% if error1 %}
                    <p class="text-danger"><strong>Error:</strong> {{error1}}</p>
                {% endif %}
                {% if message1 %}
                    <p class="text-success">{{message1}}</p>
                {% endif %}
            </form>
            {% if flights %}
        </br>
            <table class="table table-bordered table-sm">
                <thead>
                    <!-- <th>airline_name</th> -->
                    <th>flight number</th>
                    <th>airplane id</th>

                </thead>
    
                <tbody>
                {% for line in flights %}
                    <tr>
                        <td>{{line[0]}}</td>
                        <td>{{line[1]}}</td>
                        <!-- <td>{{line[2]}}</td> -->

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            {% else %}
            <h5>No Flights</h5>
    
            {% endif %}
            
        <hr>

            <h3>Add Airplane</h3>
            <form action="/staffaddairplane" method="POST">
                <!-- <label>Airline Name:</label> -->
                <!-- <input type="text" name = "airline_name" placeholder="airline_name" maxlength="50" required/> </br> -->
                <!-- <input type="text" name = "airplane_id" placeholder="airplane_id" required/> </br> -->
                <label>Airplane ID:</label>
                <input name="airplane_id" 
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
                    type = "number" placeholder="airplane_id" 
                    maxlength = "9" 
                    required/></br>  
                <!-- <input type="text" name = "seats" placeholder="seats" required/> </br> -->
                <label>Seats:</label>
                <input name="seats" 
                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" 
                    type = "number" placeholder="seats" 
                    maxlength = "9" 
                    required/></br>  
                </br>
                <input type="submit" class="btn btn-primary" value = 'Add Airplane' />
                {% if error2 %}
                    <p class="text-danger"><strong>Error:</strong> {{error2}}</p>
                {% endif %}
                {% if message2 %}
                    <p class="text-success">{{message2}}</p>
                {% endif %}
            </form>
            {% if airplane %}
        </br>
            <table class="table table-bordered table-sm">
                <thead>
                    <!-- <th>airline_name</th> -->
                    <th>airplane id</th>
                    <th>seats</th>

                </thead>
    
                <tbody>
                {% for line in airplane %}
                    <tr>
                        <td>{{line[0]}}</td>
                        <td>{{line[1]}}</td>
                        <!-- <td>{{line[2]}}</td> -->

                    </tr>
                {% endfor %}
                </tbody>
            </table>
            
            {% else %}
            <h5>No Airplane</h5>
    
            {% endif %}
            <hr>

            <h3>Add Airport</h3>
            <form action="/staffaddairport" method="POST">
                <label>Airport Name:</label>
                <input type="text" name = "airport_name" placeholder="airport_name" maxlength="50" required/> </br>
                <label>Airport City:</label>
                <input type="text" name = "airport_city" placeholder="airport_city" maxlength="50" required/> </br>
                </br>
                <input type="submit" class="btn btn-primary" value = 'Add Airport' />
                {% if error3 %}
                    <p class="text-danger"><strong>Error:</strong> {{error3}}</p>
                {% endif %}
                {% if message3 %}
                    <p class="text-success">{{message3}}</p>
                {% endif %}

            </form>
        </div>    

<!-- <a href="/staffhome">Go back</a> -->
</body>
</html>